body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.title {
    text-align: left;
    margin-left: 30vmin;
}

.Link1 {
    text-align: left;
    margin-left: 5vmin;
}

.Link2 {
    text-align: left;
    margin-left: 1vmin;
}

.Link3 {
    text-align: right;
    margin-right: 20vmin;
}

.Link4 {
    margin-left: 5vmin;
}

/*table{*/
    /*align-content: center;*/
    /*width: 100vmin;*/
    /*float: top;*/
    /*margin-left: 15vmin;*/
    /*margin-top: 5vmin;*/
    /*font-family: verdana,arial,sans-serif;*/
    /*font-size: 2.5vmin;*/
    /*color:#333333;*/
    /*border-color: #666666;*/
    /*border-collapse: collapse;*/
/*}*/

/*tr {*/
    /*border-width: 0.2vmin;*/
    /*padding: 10px;*/
    /*border-style: solid;*/
    /*border-color: #666666;*/
    /*background-color: #dedede;*/
/*}*/
/*.t1 {*/
    /*width: 30vmin;*/
/*}*/
/*.t2 {*/
    /*width: 20vmin;*/
/*}*/
/*.t3 {*/
    /*width: 15vmin;*/
/*}*/
/*.t4 {*/
    /*width: 10vmin;*/
/*}*/
/*.t5 {*/
    /*width: 27vmin;*/
/*}*/
/*td {*/
    /*border-width: 0.2vmin;*/
    /*padding: 10px;*/
    /*border-style: solid;*/
    /*border-color: #666666;*/
    /*background-color: #ffffff;*/
/*}*/
/*th {*/
    /*text-align: center;*/
    /*border-width: 0.2vmin;*/
    /*padding: 10px;*/
    /*width: 50px;*/
    /*border-style: solid;*/
    /*border-color: #666666;*/
    /*background-color: #ffffff;*/
/*}*/
.tables {
    text-align: center;
}
.SearchBarInput {
    text-align: right;
    float: right;
    border-radius: 5vmin;
    font-size: 22px;
    background: #A3D0C3;
}
.SearchBarInput select {
    border: 2vmin solid #A3D0C3;
    font-size: 15px;
    border-radius: 5vmin;
    background: #F9F0DA;
    color: #9E9C9C;
}
.SearchBarInput input {
    border: 2vmin solid #7BA7AB;
    width: 10vmin;
    font-size: 15px;
    border-radius: 5vmin;
    background: #F9F0DA;
    color: #9E9C9C;
}
.SearchBarInput2 {
    text-align: right;
    margin-right: 10vmin;
    float: right;
    border-radius: 5vmin;
    font-size: 22px;
    background: #A3D0C3;
}
.SearchBarInput2 input {
    border: 2vmin solid #7BA7AB;
    width: 10vmin;
    font-size: 15px;
    border-radius: 5vmin;
    background: #F9F0DA;
    color: #9E9C9C;
}
.export {
    text-align: right;
    margin-right: 20vmin;
    margin-top: 2vmin;
}

.Recommend {
    font-size: 50px;
    margin-left: 25vmin;
    color: #39c5bb;
}

.LoginFun {
    text-align: center;
    margin-top: 10vmin;
}

.Button1 {
    margin-top: 2vmin;
    margin-right: 2vmin;
}
.Button2 {
    margin-top: 2vmin;
    margin-left: 2vmin;
}

.Button {
    text-align: right;
    margin-top: 10vmin;
    margin-right: 20vmin;
}
.Button3 {
    text-align: center;
}
.Inf {
    margin-left: 20vmin;
    margin-top: 8vmin;
}
.Orders {
    margin-top: 5vmin;
}
.OrderInf {
    margin-left: 50vmin;
}
.Header {
    font-size: 22px;
}
.Content {
    font-size: 20px;
    margin-left: 10vmin;
}
.ContentInput {
    margin-left: 10vmin;
}
.CreateOrder {
    text-align: right;
    margin-right: 30vmin;
    margin-top: 5vmin;
}
.Sidebar {
    float: left;
    margin-left: 10vmin;
}
.ShowRight {
    float: left;
}
.MoreSearch {
    margin-left: 20vmin;
    margin-top: 5vmin;
}
.Logintext {
    font-size: 24px;
    margin-right: 5vmin;
}
.LoginInput {
    margin-top: 2vmin;
}